<%- include('../partials/header.ejs') %>

<table>
    <thead>
    <tr>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departs</th>
        <th>Delete Flight</th>
    </tr>
    </thead>
    <tbody>
    <tr <%= flight.past ? "class=past" : '' %>>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.departs %></td>
        <td><form action="/flights/<%=flight._id%>?_method=DELETE" method="POST"><input type="submit" value="X" class="delete-ecks"></form></td>
    </tr>
    </tbody>
</table>

<% if(flight.tickets.length > 0) { %>
<section id="tickets">

<div id="ticket-list">
    <h2>Tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    <% flight.tickets.forEach(ticket => { %>
            <tr>
                <td><%= ticket.seat %></td>
                <td>$<%= ticket.price %></td>
                <td><form action="/flights/<%=flight._id%>/<%=ticket._id%>?_method=DELETE" method="POST"><input type="submit" value="X" class="delete-ecks"></form></td>
            </tr>
    <% }) %>
        </tbody>
    </table>
</div>
<% } %>

<div>
    <h2>Add Tickets</h2>
    <form action="/flights/<%=flight._id%>" method="POST" id="add-ticket">
        <label for="seat">Seat</label>
        <input name="seat" class="short-input" required 
            placeholder="A10-F99" pattern="[A-F][1-9]\d?">
        <label for="price">Price</label>
        <input type="number" class="short-input" name="price" min=0>
        <input type="submit" value="Add Ticket">
    </form>
</div>
</section>

<section id="destinations">
<% if(flight.destinations.length > 0) { %>
<div id="dest-list">
    <h2>Destinations</h2>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        <% flight.destinations.forEach(dest => { %>
            <tr>
                <td><%= dest.airport %></td>
                <td><form action="/flights/<%=flight._id%>/<%=dest._id%>?_method=PUT" method="POST"><input type="submit" value="X" class="delete-ecks"></form></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<% } %>

<div>
<h2>Add Destinations</h2>
    <form class="add-destinations" action="/flights/<%=flight._id%>/destinations" method="post">
    <select name="airportId">
        <% destinations.forEach( dest => { %>
            <option value="<%= dest._id %>"><%= dest.airport %></option>
        <% }) %>
    </select>
    <input type="submit" value="Add Destination">
    </form>
</div>
</section>
<%- include('../partials/footer.ejs') %>