<%- include('../partials/header.ejs') %>

<table>
    <thead>
    <tr>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departs</th>
    </tr>
    </thead>
    <tbody>
    <tr <%= flight.past ? "class=past" : '' %>>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.departs %></td>
    </tr>
    </tbody>
</table>

<% if(flight.tickets.length > 0) { %>
<section id="tickets">

<div id="ticket-list">
    <h2>Tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    <% flight.tickets.forEach(ticket => { %>
            <tr>
                <td><%= ticket.seat %></td>
                <td>$<%= ticket.price %></td>
                <td><form action="/flights/<%=flight._id%>/<%=ticket._id%>?_method=DELETE" method="POST"><input type="submit" value="X" class="delete-ticket"></form></td>
            </tr>
    <% }) %>
        </tbody>
    </table>
</div>
    <% } %>

<div id="add-tickets">
    <h2>Add Tickets</h2>
    <form action="/flights/<%=flight._id%>" method="POST" id="addTicket">
        <label for="seat">Seat</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label for="price">Price</label>
        <input type="number" name="price" min=0>
        <input type="submit" value="Add Ticket">
    </form>

</section>
</div>
<%- include('../partials/footer.ejs') %>